/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-nov-2018, 8:40:30
    Author     : JuanEsteban
*/

html .container {
    background-color: #eaeaea;
}
.item {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px #0006;
    padding: 15px;
    background-color: white;
}
.item img {
    width: 100%;
    display: block;
}
#registro {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px 50px;
    background: white;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 4px 0px #0006;
    border-radius: 3px;
}

#total {
    border: none;
    font-size: 26px;
    font-weight: 600;
}